@font-face {
    font-family: myCatF;
    src: url("../font/Omega+Sans+Regular.ttf")
}

body {
    font-family: "Open Sans", sans-serif;
}

#scrollUp {
    background-color: #050505;
    color: whitesmoke;
    font-size: 40px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    bottom: 10px;
    right: 20px;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: none;
    opacity: 0.8;
}

#scrollUp:hover {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    opacity: 1;
}

@media screen and (min-width: 992px) {
    #scrollUp {
        bottom: 100px
    }
}

.navbar-order {
    /* 为导航栏边框设置渐变 */
    border-image: linear-gradient(to right,
    #045d6f 50%, #eedee3 50%, #eedee3 100%);
    color: whitesmoke;
    /* 为首页背景设置渐变 */
    background: linear-gradient(to right,
    #045d6f calc(50% / 6 * 6), #eedee3 calc(50% / 6 * 6), #eedee3 100%);
    margin: 0;
    border: none;
    border-radius: 0;
}

.navbar-default .navbar-brand {
    color: whitesmoke;
    animation-delay: 1s;
}

.navbar-default .navbar-left > li > a {
    color: whitesmoke;
    font-weight: bold;
}

.navbar-default .navbar-right > li > a {
    color: #045d6f;
}

.icon {
    height: 100%;
    width: auto;
    z-index: 100;
}

#presentation {
    /* background-image: url("image/bf.jpg");
     background-position: center;
     background-size: cover;*/
    position: relative;
    display: table;
    width: 100%;
    /*占满整个视口*/
    height: 100vh;
}


.case {
    line-height: 2;
}

.introduce {
}

.about-text, .structure-text, .work-text {
    padding-top: 100px;
}

.work-text, .structure-text {
    color: whitesmoke;
}

.second-work-text {
    padding-top: 100px;
    padding-left: 10%;
}

.second-work-text h1 {
    font-size: 48px;
    font-weight: 700;
}

.second-work-image {
    padding-bottom: 100px;
    background-image: url("../image/ep_naturalwhite.png");
    background-position: center;
    overflow: hidden;
}

.about-detail {
    margin-top: 60px;
    font-size: 15px;
}

.about-detail span {
    line-height: 3;
}

.about-Chinese, .work-Chinese, .structure-Chinese, .contact-Chinese, .carto-Chinese {
    font-size: 20px;
    font-weight: bold;
}

.about-English, .work-English, .structure-English, .carto-English {
    margin-top: 5px;
    font-size: 15px;
    display: block;
    float: right;
    font-style: italic;
}

.my-form {
    background-color: transparent;
    border-radius: 0;
    border: 1px solid;
}

.recruit-form {
    margin-top: 100px;
}

.structure-English {
    margin-bottom: 100px;
}

.info-image {
    margin-top: 300px;
}

.about-image {
    padding-bottom: 100px;
    background-image: url("../image/ep_naturalwhite.png");
    background-position: center;
    overflow: hidden;
}

.work-image {
    padding-bottom: 100px;
    background-image: url("../image/prism.png");
    background-position: center;
    overflow: hidden;
}

.structure-image {
    padding-bottom: 100px;
    background-image: url("../image/prism.png");
    background-position: center;
    overflow: hidden;
}

.contact-image {
    padding-bottom: 100px;
    background-image: url("../image/redox.png");
    background-position: center;
    overflow: hidden;
}

.contact-summarize span {
    font-size: 50px;
    font-weight: bolder;
    font-family: myCatF;
}

.power-image {
    padding-top: 40px;
    padding-bottom: 60px;
    background-image: url("../image/cartographer.png");
    background-position: center;
    overflow: hidden;
    line-height: 30px;
}

.rights-image {
    background-image: url("../image/dark_wall.png");
    background-position: center;
    overflow: hidden;
    color: whitesmoke;
}

.info-title {
    font-size: 20px;
    color: whitesmoke;
    font-weight: bold;
    display: block;
    margin-bottom: 30px;
}

.info-detail {
    font-size: 14px;
    color: whitesmoke;
}

.division {
    border-top: 2px solid #8c8b8b;
    margin-top: 10px;
}

.contact-English {
    margin-top: 100px;
    font-size: 13px;
    font-style: italic;
}


.contact-summarize-image {
    margin-top: 300px;
}

.contact-Chinese {
    margin-top: 110px;
}

.info {
    background-color: whitesmoke;
    font-size: 1.8rem;
}

.info span {
    margin-left: 30px;
}

.summary {
    background-color: #045d6f;
    vertical-align: bottom;
    /*占满整个视口*/
    position: relative;
    height: 100vh;
    color: #eedee3;
}

.hr1 {
    height: 1px;
    border: none;
    border-top: 2px solid #eedee3;
    width: 50px;
    margin: 40px 0 80px 0;
    animation-delay: 0.75s;
}

.sketch-content {
    margin: 0;
    text-align: center;
    transform: rotate(270deg);
    -ms-transform: rotate(270deg); /* IE 9 */
    -moz-transform: rotate(270deg); /* Firefox */
    -webkit-transform: rotate(270deg); /* Safari 和 Chrome */
    -o-transform: rotate(270deg); /* Opera */
    color: #045d6f;
    overflow: hidden;
}

.sketch-content:before {
    position: absolute;
    color: #eedee3;
    height: 50%;
    content: attr(data-content);
    overflow: hidden;
}

.sketch {
    background: linear-gradient(to right,
    #045d6f 50%, #eedee3 50%, #eedee3 100%);
    vertical-align: bottom;
    /*占满整个视口*/
    position: relative;
    height: 100vh;
}

.sketch h1 {
    font-size: 50px;
    font-weight: 600;
}


.head-image {
    /*background-image: url("image/world-map.jpg");
    background-position: center;
    background-size: cover;*/
    background-color: #eedee3;
    position: relative;
    /*占满整个视口*/
    height: 100vh;
}

.image {
    width: 30%;
    float: right;
}


.summary-text {
    margin-top: 30vh;
    margin-left: 5vw;
}

.first, .second, .third {
    font-size: 15px;
    line-height: 20px;
}

.summary-title {
    animation-delay: 1.1s;
    font-family: myCatF;
    font-weight: 800;
}

.hr1{
    animation-delay: 1.1s;
}
.first {
    animation-delay: 1.4s;
}

.second {
    animation-delay: 1.6s;
}

.third {
    animation-delay: 1.8s;
}

.green {
    color: green;
    padding-left: 10%;
    font-size: 24px;
    padding-top: 50px;
    font-weight: 600;
    text-align: center;
}

.green .big {
    font-size: 300px;
    line-height: 240px;
    font-weight: 700;
}

.black {
    float: left;
    color: black;
    font-size: 18px;
    padding-top: 50px;
    font-weight: 600;
    text-align: center;
}

.black .big {
    font-size: 150px;
    line-height: 120px;
    font-weight: 700;
}

.map-design, .code, .thing {
    font-size: 20px;
    font-weight: bolder;
    color: whitesmoke;
}

.thing-detail {
    font-size: 15px;
    color: whitesmoke;
}

.code-detail {
    font-size: 15px;
    color: whitesmoke;
}

.map-design-detail {
    font-size: 15px;
    color: whitesmoke;
}

.map-design-image {
    width: 10%;
    margin-left: 10%;
    margin-bottom: 20px;
    float: left;
}

.code-image {
    width: 10%;
    margin-left: 10%;
    margin-bottom: 20px;
    float: left;
}